---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Tercer curso: ESIIAB" sideBarActiveItemID="notes">
  <div class="w-full max-w-4xl px-6 py-8 mx-auto">
    <h1 class="text-4xl font-bold mb-2">Tercer curso</h1>
    <p class="text-gray-500 text-md mb-4">Consulta los materiales disponibles para tercero.</p>

    <div class="text-justify text-lg leading-relaxed space-y-6">
      <h2 class="text-2xl font-semibold mt-6">Material disponible</h2>

      <div class="space-y-8">
        <!-- Arquitectura de Computadores -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🖥️</span> Arquitectura de Computadores
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                href="/notes/Tercero/AC/GeneralAC.pdf"
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                Apuntes + Ejercicios + Exámenes
              </a>
            </li>
          </ul>
        </section>

        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🛠️</span> Ingeniería del Software II
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                href="/notes/Tercero/SoftwareII/SoftwareII.pdf"
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                Apuntes + Ejercicios + Exámenes
              </a>
            </li>
            <li>
              <a
                href="/notes/Tercero/SoftwareII/CarmenSW.pdf"
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                Asignatura completa
              </a>
            </li>
          </ul>
        </section>

        <!-- Interacción Persona-Ordenador I -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🖱️</span> Interacción Persona-Ordenador I
          </h3>
          <!-- Si deseas agregar algún elemento principal, puedes incluirlo aquí -->
          <ul class="list-disc list-inside pl-5 text-base-content"></ul>
          <ul class="space-y-4 pl-5 text-base-content">
            <li>
              <details class="bg-base-0 rounded-lg shadow-sm">
                <summary class="cursor-pointer text-lg font-semibold text-blue-600 hover:text-blue-800 transition">
                  Trabajo en grupo (Games development)
                </summary>
                <ul class="pl-6 mt-2 space-y-2 list-disc text-base-content">
                  <li>
                    <a
                      href="/notes/Tercero/IPO/IPOGrupos.pptx"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Presentación
                    </a>
                  </li>
                  <li>
                    <a
                      href="/notes/Tercero/IPO/IPOTrabajo.pdf"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Guion
                    </a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details class="bg-base-0 rounded-lg shadow-sm">
                <summary class="cursor-pointer text-lg font-semibold text-blue-600 hover:text-blue-800 transition">
                  Trabajo en pareja (Study of Interaction in Social Media)
                </summary>
                <ul class="pl-6 mt-2 space-y-2 list-disc text-base-content">
                  <li>
                    <a
                      href="/notes/Tercero/IPO/SocialMediaPresentacion.pdf"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Presentación
                    </a>
                  </li>
                  <li>
                    <a
                      href="/notes/Tercero/IPO/SocialMedia.pdf"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Report
                    </a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details class="bg-base-0 rounded-lg shadow-sm">
                <summary class="cursor-pointer text-lg font-semibold text-blue-600 hover:text-blue-800 transition">
                  Proyecto
                </summary>
                <ul class="pl-6 mt-2 space-y-2 list-disc text-base-content">
                  <li>
                    <a
                      href="https://www.figma.com/design/4YMwA5oE2jgjmOuMvHdrr4/Jobder?m=auto&t=MmPtn4pfYbSeZMCc-1"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Prototipo
                    </a>
                  </li>
                  <li>
                    <a
                      href="/notes/Tercero/IPO/IPOHumanPart.pdf"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Human part
                    </a>
                  </li>
                  <li>
                    <a
                      href="/notes/Tercero/IPO/IPOComputerPart.pdf"
                      target="_blank"
                      class="text-blue-500 underline hover:text-blue-800 transition"
                    >
                      Computer part
                    </a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </section>

        <!-- Sistemas Distribuidos -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🌐</span> Sistemas Distribuidos
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                href="/notes/Tercero/Distribuidos/DistribuidosPrimerParcial.pdf"
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                Apuntes primer parcial
              </a>
            </li>
          </ul>
        </section>

        <!-- Sistemas Inteligentes -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🤖</span> Sistemas Inteligentes
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>

        <!-- Aspectos Profesionales de la Informática -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">📜</span> Aspectos Profesionales de la Informática
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>

        <h2 class="text-2xl font-semibold mt-8">Intensificación Tecnologías de la Información</h2>

        <!-- Integración de Sistemas Informáticos -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🔗</span> Integración de Sistemas Informáticos
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>

        <!-- Interacción Persona-Ordenador II -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🖱️</span> Interacción Persona-Ordenador II
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>

        <!-- Diseño y Gestión de Redes -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🌐</span> Diseño y Gestión de Redes
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>

        <!-- Gestión de Sistemas de Información -->
        <section class="p-6 bg-base-100 rounded-2xl shadow-md border border-base-400 hover:shadow-lg">
          <h3 class="text-2xl font-semibold text-base-content flex items-center">
            <span class="mr-2">🗄️</span> Gestión de Sistemas de Información
          </h3>
          <ul class="list-disc list-inside pl-5 text-base-content">
            <li>
              <a
                target="_blank"
                class="text-blue-500 underline hover:text-blue-800 transition"
              >
                En proceso...
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <div class="mt-10">
      <h2 class="text-2xl font-semibold">¿Tienes más apuntes o documentos para compartir?</h2>
      <p class="text-gray-600 dark:text-gray-300 mb-4">Comparte tus archivos aquí.</p>
      <a
        href="mailto:jaleoab@gmail.com"
        class="inline-block px-6 py-3 text-white bg-blue-600 rounded-lg hover:bg-blue-800"
      >
        Enviar correo
      </a>
    </div>

    <!-- Agradecimientos -->
    <div class="flex justify-end mt-10">
      <p class="text-gray-500 italic">
        Agradecimientos especiales a Lucian y Carmen por compartir sus apuntes.
      </p>
    </div>
  </div>
</BaseLayout>
