.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
canvas {
    width: auto !important;
    height: auto !important;
    max-width: 80% !important;
    margin: 0 auto;
    display: block;
}

 /* El efecto de glitch */
.glitch-effect {
    position: relative;
    display: inline-block;
    color: #ff00ff;
    font-family: Menlo, Consolas, monospace;
  }
  
  /* Texto clon en pseudo-elementos para crear el “glitch” */
  .glitch-effect::before,
  .glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #ff00ff;
    font-family: inherit;

  }
  
  .glitch-effect::before {
    text-shadow: -1px 0 rgb(0, 255, 255);
    clip: rect(0, 900px, 0, 0);
    animation: glitch-anim 2s infinite ease-in-out alternate-reverse;
  }
  .glitch-effect::after {
    text-shadow: 1px 0 rgb(255, 255, 0);
    clip: rect(0, 900px, 0, 0);
    animation: glitch-anim2 2s infinite ease-in-out alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0%   { clip: rect(0, 9999px, 0, 0);      transform: translate(-2px, -2px); }
    20%  { clip: rect(0, 9999px, 9999px, 0); transform: translate(2px, 2px);   }
    40%  { clip: rect(9999px, 9999px, 9999px, 0); transform: translate(-1px, 0); }
    60%  { clip: rect(9999px, 9999px, 9999px, 0); transform: translate(1px, -1px); }
    80%  { clip: rect(0, 9999px, 9999px, 0); transform: translate(-2px, 2px);  }
    100% { clip: rect(0, 9999px, 0, 0);      transform: translate(0, 0);       }
  }
  
  @keyframes glitch-anim2 {
    0%   { clip: rect(9999px, 9999px, 9999px, 0); transform: translate(2px, 0); }
    20%  { clip: rect(0, 9999px, 9999px, 0);      transform: translate(-2px, 0);}
    40%  { clip: rect(0, 9999px, 0, 0);          transform: translate(2px, -1px);}
    60%  { clip: rect(9999px, 9999px, 9999px, 0); transform: translate(-1px, 2px);}
    80%  { clip: rect(0, 9999px, 9999px, 0);      transform: translate(1px, -2px);}
    100% { clip: rect(9999px, 9999px, 9999px, 0); transform: translate(0, 0);}
  }
