---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV in English" sideBarActiveItemID="cv">
  <!--El relative es para ser movido y el z-50 lo uso pa que ponga por encima de posibles elementos que lo tapan -->
  <div class="relative">
  <div class="absolute top-1 right-1 z-50 flex gap-3">
    <!-- Botón English -->
    <section
      class="
        inline-block px-3 py-2
        bg-base-100
        rounded-lg
        shadow-md
        border border-base-400
        hover:shadow-lg
        transition-shadow
      "
    >
      <a 
        href="/cv"
        class="flex items-center gap-2 text-sm cursor-pointer"
      >
        <img src="/language/GB.svg" alt="Bandera de Reino Unido" class="w-5 h-5" />
        <span>English</span>
      </a>
    </section>
  
    <!-- Botón Español -->
    <section
      class="
        inline-block px-3 py-2
        bg-base-100
        rounded-lg
        shadow-md
        border border-base-400
        hover:shadow-lg
        transition-shadow
      "
    >
      <a 
        href="/cv-es"
        class="flex items-center gap-2 text-sm cursor-pointer"
      >
        <img src="/language/SP.svg" alt="Bandera de España" class="w-5 h-5" />
        <span>Español</span>
      </a>
    </section>
  </div>
</div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
       I am a third-year Computer Science student at the University of Castilla-La Mancha, specializing in software development and interface design. 
    Passionate about creating user-friendly applications, I enjoy combining my technical knowledge with design principles to build engaging and intuitive digital experiences.
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor in Computer Science bilingual modality and mention in Information Technology (IT)"
      subtitle="From 2022 to 2026 at University of Castilla-La Mancha, Albacete, Spain"
      description="Specialization focused on IT infrastructure, cybersecurity, networking and software solutions"
    />
    <TimeLineElement
      title="Spanish Baccalaureate"
      subtitle="From 2021 to 2022 at Ramón y Cajal, Albacete, Spain"
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.uclm.es/estudios/propios/curso-universitario-formacion-avanzada-herramientas-dig-aplicadas-transporte-logistica" target="_blank">
          Advanced University Course in Logistics and Transport Management - UCLM
      </a>
      <br>
      <span class="text-sm italic">Certified by the University of Castilla-La Mancha (UCLM), currently pursuing</span>
  </li>
    <li>
        <a href="/docs/certificadoB1.pdf" target="_blank">B1 Certification (with link)</a>
        <br>
        <span class="text-sm italic">Certified by the University of Castilla-La Mancha (UCLM)</span>
    </li>
    <li>
        <a target="_blank">Category B driving license</a>
    </li>
</ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Volunteer Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="First-year student mentor"
      subtitle="From September, 2024 to July, 2025 at University of Castilla-La Mancha, Albacete, Spain"
    >
    Guided and supported first-year students in their transition to university life, providing academic and campus orientation. 
    Assisted with onboarding sessions, answered course-related inquiries, and advised on study strategies and university resources. 
    Fostered an inclusive environment to enhance student engagement and integration.
    </TimeLineElement>
    <TimeLineElement
      title="State-level student representative of UCLM in RITSI (National Association of Computer Science Students)"
      subtitle="From October, 2022 to July, 2025 at RITSI, Spain"
    >
      As a state-level representative, I actively participated in national meetings and assemblies held in cities such as Ourense, A Coruña
      and Barcelona, representing the interests of Computer Science students from UCLM. My role involved advocating for academic improvements, 
      fostering collaboration between universities, and contributing to national-level decisions on student-related matters. 
      I worked closely with other representatives across Spain to address challenges and promote initiatives aimed at enhancing the educational experience.
    </TimeLineElement>
    <TimeLineElement
      title="Volunteer student"
      subtitle="August, 2024 at Avada, Santiago de Compostela, Spain"
    >
      Participated in the restoration of a natural area, focusing on cleaning and removing waste to preserve the environment. 
      The site was carefully prepared and transformed into a rest area along the roadside, providing a clean and welcoming space for travelers and promoting environmental awareness. 
      Worked collaboratively with a team to ensure the area remained sustainable and accessible for public use.
    </TimeLineElement>
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 gap-x-6">
    <li>Android Studio</li>
    <li>GitHub</li>
    <li>C/C#</li>
    <li>Java</li>
    <li>Visual Studio</li>
    <li>Figma</li>
    <li>Project Management</li>
    <li>Analytical Skills</li>
    <li>Strategic Thinking</li>
    <li>Team Leadership</li>
    <li>Event Management</li>
  </ul>
</BaseLayout>
