---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects {"</>"} </div>
  </div>

  <HorizontalCard
    title="JobAlba"
    img="/JobAlba.jpg"
    desc="JobAlba is a project specifically designed for the UCLM Emprende I competition, achieving fifth place in the engineering and architecture category."
    url="/projects/JobAlba"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AppForDevices"
    img="/AppForDevices.jpg"
    desc="AppForDevices is a project that has been deployed through the Software Engineering II subject."
    url="/projects/AppForDevices"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flappy Bird"
    img="/FlappyBird.jpg"
    desc="Flappy Bird was one of the first programming projects I worked on."
    url="/projects/FlappyBird"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pong"
    img="/Pong.jpg"
    desc="Common pong. First implementation of simple AI in Python."
    url="/projects/FootballPong"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Future project..."
    img="/Loading.jpg"
    desc="Working in new projects..."
    url="#"
    badge="UPCOMING"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Future project..."
    img="/Loading.jpg"
    desc="Working in new projects..."
    url="#"
    badge="UPCOMING"
  />
</BaseLayout>
