---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects {"</>"} </div>
  </div>

  <HorizontalCard
    title="JobAlba"
    img="/JobAlba.jpg"
    desc="JobAlba is a project specifically designed for the UCLM Emprende I competition, achieving fifth place in the engineering and architecture category."
    url="/projects/JobAlba"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AppForDevices"
    img="/AppForDevices.jpg"
    desc="AppForDevices is a project that has been deployed through the Software Engineering II subject."
    url="/projects/AppForDevices"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flappy Bird"
    img="/FlappyBird.jpg"
    desc="Flappy Bird was one of the first programming projects I worked on."
    url="/projects/FlappyBird"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="UPCOMING"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="UPCOMING"
  />
</BaseLayout>
