---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Cajita from "../../layouts/Cajita.astro";
---

<BaseLayout title="Flappy Bird" sideBarActiveItemID="projects">
  <div class="w-full max-w-4xl px-6 py-8 mx-auto">
    <h1 class="text-4xl font-bold mb-2">Flappy Bird Game</h1>

    <div class="text-justify text-lg leading-relaxed space-y-4">
      <p>
        <strong>Flappy Bird</strong> is a simple yet addictive game where players control a bird trying to fly through obstacles without hitting them.
        This game has been one of the most popular games for years.
      </p>

      <p>
        The game mechanics rely on basic physics with velocity and acceleration controlling the bird’s motion. 
        The pipes are randomly generated with varying heights. 
        A simple counter has been added to achive the highest score.
      </p>
      <p>
        The game was initially developed using <strong>Processing</strong>, a powerful sketch-based framework for creative coding, known for its ease of use in prototyping visual applications.  
        To deploy the game on the web, the project was adapted to <strong>p5.js</strong>, a JavaScript library based on Processing, allowing integration with HTML5 and web technologies.  
        The canvas rendering is handled through the p5.js framework, using key event listeners and a main game loop to control animations, collision detection, and user interactions.
      </p>
      <p>
        Additional features, such as custom sprite animations are implemented using p5.js methods like <code>loadImage()</code>, further enhancing the gameplay experience.
        Future improvements could include implementing a leaderboard using a backend service with <strong>REST APIs</strong> as used in other projects 
        and introducing more complex procedural generation for increased difficulty over time.
       </p>
    </div>


    <div class="w-full flex justify-center my-10" style="margin-left: 200px;">
    <div>
      <!-- Game canvas will be centered here -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
      <script src="/flappybirdGame.js" is:inline></script>
    </div>
  </div>
</BaseLayout>